.banner-container {
	background-color: white;
	background-image: url('http://i.huffpost.com/gen/1357952/images/o-NUCLEAR-EXPLOSION-facebook.jpg');
	background-size: cover;
	background-position: center;
	text-align: center;
	opacity: 0.95;
}


.banner-title {
	padding: 10rem 0 17rem;
	color: aliceblue;
	font-weight: 800;
	letter-spacing: 5px;
	font-size: 5rem;
	text-shadow: 2px 2px black;
}

.banner-title p {
}
